<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Boolzapp </title>
    <!-- Luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Style -->
    <link rel="stylesheet" href="style.css">
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Script -->
    <script src="data_milestone1.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <div id='root' class="container">
        <!-- Sidebar -->
        <div id="sidebar">
            <section id="user" class="user">
                <div class="profile">
                    <figure>
                        <img src="img/avatar_io.jpg" alt="yourProfile">
                    </figure>
                    <h4>{{ user.name }}</h4>
                </div>
                <div class="options">
                    <i class="bi bi-clock-history icon"></i>
                    <i class="bi bi-chat-left icon"></i>
                    <i class="bi bi-three-dots-vertical icon"></i>
                </div>
            </section>
            <section id="notifications">
                <div class="icon">
                    <i class="bi bi-bell-slash"></i>
                </div>
                <div>
                    <p> Ricevi notifiche dei nuovi messaggi </p>
                    <a href="#"> Attiva notifiche desktop</a>
                </div>
            </section>
            <section id="search">
                <div class="bg-white">
                    <i class="bi bi-search icon"></i>
                    <input type="text" v-model="searchChat" @keyup="changeVisible" placeholder="Cerca o inizia una nuova chat">
                </div>
            </section>
            <section id="chat-list">
                <ul>
                    <li v-for="(contact,i) in contacts" v-show="contact.visible" @click="setCurrentIndex(i)" class="chat-element">
                        <div class="chat">
                            <div class="profile">
                                <figure>
                                    <img :src="'img/avatar' + contact.avatar +'.jpg'" :alt="contact.name">
                                </figure>
                                <h4> {{ contact.name }} </h4>
                            </div>
                            <time></time>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <!-- Conversation -->
        <div id="conversation">
            <!-- Header -->
            <header class="user">
                <div class="profile">
                    <figure>
                        <img :src="`img/avatar${currentContact.avatar}.jpg`" :alt="currentContact.name">
                    </figure>
                    <div>
                        <h4> {{ currentContact.name }}</h4>
                        <p>Ultimo accesso oggi alle...</p>
                    </div>
                </div>
                <div class="options">
                    <i class="bi bi-search icon"></i>
                    <i class="bi bi-folder2-open icon"></i>
                    <i class="bi bi-three-dots-vertical icon"></i>
                </div>
            </header>
            <!-- Main -->
            <main>
                <ul>
                    <li v-for="(message,i) in currentMessages" class="message-container" :class="message.status">
                        <div class="message">
                            <div>
                                <p> {{ message.text }}</p>
                                <time>{{ message.date}}</time>
                            </div>
                            <div class="dropdown">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown-menu">
                                    <li> Info messaggio </li>
                                    <li @click="deleteMessage(i)"> Cancella messaggio</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </main>
            <!-- Footer -->
            <footer>
                <i class="bi bi-emoji-smile icon"></i>
                <input placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendNewMessage">
                <i class="bi bi-mic-fill icon"></i>
            </footer>
        </div>
    </div>
</body>
</html>