*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Generic */
body{
    font-family: sans-serif;
    background: linear-gradient( rgb(0,150,136) 20%, rgb(220,219,211) 20% 80%);
}

/* Utility */
.container{
    max-width: 1000px;
    margin: 2rem auto;

    display: flex;

    height: 90vh;
}
.bg-white{
    background-color: white;
}
.icon{
    margin: 3px;
    color: grey;
    font-size: 20px;
    cursor: pointer;
}
/*** SIDEBAR ***/
#sidebar{
    flex-basis: 35%;

    height: 100% ;
    background-color:  white;
    border-right: 1px solid black;
}
.user{
    height: 70px;
    background-color: rgb(234,234,234);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.profile figure{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

/* Notifiche */
#notifications{
    height: 70px;
    background-color: rgb(142,218,252);
    display: flex;
    align-items: center;
}
#notifications div:first-child{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: white;
    margin: 0 10px;

}
#notifications a{
    color: grey;
}
/* Barra ricerca */
#search{
    background-color: rgb(250,250,250);
    height: 40px;
    padding: 10px;
}
#search input{
    border: none;
    width: 80%;
}
#search input:focus-visible{
    outline: none;
}
/* Lista chat */
#chat-list{
    height: calc(90vh - 190px);
    overflow-y: auto;
}
#chat-list ul{
    list-style-type: none;
}
#chat-list .chat-element{
    border-bottom: 1px solid rgb(242,242,242);
}
#chat-list .chat-element:hover{
    background-color: lightgray;
}
#chat-list .profile{
    justify-content: left;
}
#chat-list .chat{
    display: flex;
    justify-content: space-between;
}

/*** CONVERSATION ***/
#conversation{
    flex-basis: 65%;
    height: 100%;
    background-image: url(img/mine.jpg);
}
#conversation header p{
    color: gray;
}
#conversation main{
    height: calc(100% - 140px);
    padding: 30px 50px;
    overflow-y: auto; 
}
#conversation ul{
    list-style-type: none;
}
#conversation .message-container{
    display: flex;
    margin-bottom: 10px;
}
#conversation .message{
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 2px 2px 2px gray;
    position: relative;
}
/* DROPDOWN */
#conversation .dropdown{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 10px ;
    display: none;
    text-align: right;
}
#conversation .message:hover .dropdown{
    display: block;
}
.dropdown-menu{
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
    height: 80px;
    width: 160px;
    background-color: white;
    font-size: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 5px rgb(66, 66, 66);
}
.dropdown-menu li{
    cursor: pointer;
    padding: 10px;
}
.message-container.sent{
    justify-content: flex-end;
}
.message-container.sent .message{
    background-color: rgb(213,249,186);;
}
.message-container.received{
    justify-content: flex-start;
}
.message-container.received .message{
    background-color: white;
}

 time{
    display: block;
    text-align: right;
    color: rgb(193,199,187);
    font-size: 12px;
}


#conversation footer{
    height: 70px;
    background-color: rgb(243,238,234);
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#conversation input{
    width: 85%;
    height: 100%;
    padding: 5px;
    border: none;
    font-family: sans-serif;
}